{% extends 'layout.twig' %}

{% block title %}
     404
{% endblock %}


{% block content %}
<div class="text-center my-5">
     <img src="public/images/logo.png" width="30%" alt="logo">
     <h1 class="my-5 " >404 page not found</h1>
</div>

{% endblock %}