{% extends 'layout.twig' %}

{% block title %}
    Nouvel article
{% endblock %}
{% import 'forms.twig' as forms %}

{% block content %}
<h2 class="text-center my-5">Ajouter un nouvel article</h2>
<div class="container">
     <div class="mb-5">
          <img src="public/images/stylo.jpg" width="50%" alt="pen" class="img-fluid rounded mx-auto d-block shadow" >
     </div>
     
     <form action="#" method="post" >
           <div class="row my-3">
               {{ forms.input ('title', 'Titre', title, {class: 'col-12'}) }}
          </div>
          <div class="row my-3">
               {{forms.textarea('chapo', 'Chapô', '1','5', message, {class: 'col-12'}) }}
          </div>
               {{forms.textarea('content', 'Contenu de l\'article', '1','20', message, {class: 'col-12'}) }}
               
               Auteur : {{session.username}}
          <div class="form-group">
               <button type="submit" class="btn btn-primary my-3">Ajouter</button>
          </div>
     </form>
</div>
{% endblock %}