{% extends 'layout.twig' %}

{% block title %}
     admin
{% endblock %}


{% block content %}
<h1>page d'administration du blog</h1>
{{session.username}}
<h2>gestion des commentaires</h2>
<p><a href="index.php?action=">validation des commentaires</a></p>
<p>suppression de commentaires</p>

<h2>gestion des articles</h2>
<ul>
    <li><p><a href="index.php?action=addPost">ajout d'un article</a></p></li>
    <li><p><a href="index.php?action=">modification d'un article</a></p></li>
    <li><p><a href="index.php?action=">suppression d'un article</a></p></li>
</ul>


{% endblock %}

