{% extends 'layout.twig' %}

{% block title %}
     Commentaires
{% endblock %}

{% import 'forms.twig' as forms %}

{% block content %}
<h4 class="text-center my-5">Commentaire(s) à valider/supprimer</h4>
<div class="my-5">
     <img src="public/images/validation.jpg" width="20%" class="img-fluid rounded mx-auto d-block shadow" alt="buffer">
</div>

<div class="row">
     {% for comment in comments %}
     <div class="col-sm-12 col-md-6 col-lg-4  mb-2">
          <div class="card  h-100">
               <div class="card-body ">
               <h6 class="card-subtitle mb-2 text-mutetd">le : {{comment.getFrenchCreationDate}}</h6>
               <p class="card-text">{{comment.getComment}}</p>
               <a href="index.php?action=validationComment&id={{comment.getIdentifier}}" class="btn card-link">valider</a>
               <a href="index.php?action=deleteComment&id={{comment.getIdentifier}}" onclick="return confirm('Êtes-vous certain de vouloir effacer définitivement ce commentaire ?')" 
               class="btn card-link">supprimer</a>
               
               </div>
          </div >
     </div>
     {% endfor %}
</div>
     



{% endblock %}

