{% extends 'layout.twig' %}

{% block title %}
     admin
{% endblock %}


{% block content %}
<h1>page d'administration du blog</h1>
{{session.username}}
<div class="row">
     <div class="col">
          <h2>gestion des commentaires</h2>
          <p><a href="index.php?action=">validation des commentaires</a></p>
          <p>suppression de commentaires</p>
     </div>
     <div class="col">
          <h2>gestion des articles</h2>
          <ul>
          <li><p><a href="index.php?action=addPost">ajout d'un article</a></p></li>
          <li><p><a href="index.php?action=adminpostlist">modification ou suppressiond'un article</a></p></li>
          </ul>
     </div>
</div>





{% endblock %}

