{% extends 'layout.twig' %}

{% block title %}
     connexion
{% endblock %}


{% block content %}
<h1>page connexion</h1>
<p>formulaire de connection</p>
<p><a href="index.php">retour accueil</a></p>

{% endblock %}

