{% extends 'layout.twig' %}

{% block title %}
    Mentions légales
{% endblock %}

{% block content %}
<h1>MENTIONS LEGALES</h1>
<h2>Propriétaire du Site</h2>

    <P>Freelance : Sandrine Paris</p>
    <p>N° Siret : XXXXXXXXXXXXXXXXX</p>
    <p>Code APE : XXXXX</p>
    <p>Capital social : 0€</p>
    <p>Siège Social : XXXXXXXXXXXXXXX</p>
    <p>75000 Paris - France</p>
    <p>Téléphone : 06 xx xx xx xx</p>
    <p>Responsable de publication : Sandrine Paris</p>
    <p>Email : xxx@xxx.fr</P>

<h2>Développement</h2>
            
    <P>Freelance : Sandrine Paris</p>
    <p>Adresse : XXXXXXXXX - 75000 Paris - France</p>
    <p>N° SIRET : xxxxxxxxxxxxxxxx</p>
    <p>Code APE : xxxxx</p>
    <p>Mobile : 06.XX.XX.XX.XX</p>
    <p>Email : XXXX.dev@xxx.com</P>

<h2>Hébergement</h2>
            
    <P>xxx</p>
    <P>RCS  : xxxxxxxxxxxxxxxxxxxx</p>
    <P>Code APE : xxxxx</p>
    <P>Siège social : xxxxxx - xxxxxx - France</P>

<h2>Crédits</h2>

    <P>Toutes les images et vidéos présentes sur le site sont libres de droits</P>
    <P>Tous les textes présents sur le site sont libres de droits</P>
{% endblock %}