{% extends 'layout.twig' %}

{% block head %}
    <title> {{title}} </title>
{% endblock %}

{% block content %}

<h1>Mon super super blog !</h1>
<p>Detail du billet :</p>
<p><a href="index.php">retour accueil</a></p>

{% endblock %}

