{% extends 'layout.twig' %}

{% block title %}
    Politique confidentialité
{% endblock %}

{% block content %}
<h1>POLITIQUE DE CONFIDENTIALITE</h1>
<h2>Formulaire De Contact</h2>
    <p>En utilisant le formulaire de contact du site, vous acceptez de recevoir une réponse 
    par courrier électronique et acceptez que l’intégralité des informations entrées dans votre message soit archivée 
    dans notre base de données.</p>
<h2>Traitement des données</h2>
    <p>Le site ne traite aucune données.</p>
<h2>Cookies</h2>
    <p>Le site n'utilise pour l’heure aucun cookies.</p>  
{% endblock %}
