{% extends 'layout.twig' %}

{% block title %}
inscription
{% endblock %}


{% block content %}

<h1>Inscription</h1>
<p>formulaire d'inscription</p>
<p><a href="index.php">retour accueil</a></p>

{% endblock %}
